<link href="stylesheets/sarastyle.css" rel="stylesheet">

<div class="container">
  <ul class="menu menu-hover-lines" id="ulnav">
    <li><a href="/">Home</a></li>
    <li><a href="closet">View Closet</a></li>
    <li><a href="shop">Shop</a></li>
    <li class="active"><a href="#">View Cart</a></li>
    <li><a href="#">Log Out</a></li>
  </ul>
</div>
</div>
</div>
<br>
<div id="cart" class="container">
  <div class="checkout-summary">
    <div class="checkout-summary-title">
      <h5>Your Order</h5>
      <h5> Items</h5>
    </div>
    {{#each allItems}}
 

    <div class="checkout-summary-item">
      <img src="{{imgFileName}}" height="150" width="100">
      <div class="item-name">
        <p>{{item}}</p>
        <p><span class="title">Color:{{color}}</span></p>
        <p><span class="title">Size:{{size}}</span></p>
      </div>
      <div class="item-price">
        <p class="title">$<span>{{price}}</span></p>
        <button>Remove</button>
        <br>
        <button> Edit</button>
      </div>
    </div>

    {{/each}}
    <div class="checkout-summary-details">
      <div class="left">
        <p><strong>Subtotal:${{price}}</strong></p>

        <p><strong>Total:${{price}}</strong></p>
      </div>
      <div class="right">

      </div>
    </div>
    <button class="button expanded">Finish Order</button>
  </div>
</div>

 <script type="text/javascript" src="js/shop.js"></script>